<div class="contact-contanier">
    <!-- <mat-card class="example-card"> -->
    <div class="email-box">
        <div>
            <img class="gmail-icon"  src="../../../assets/images/gmail.png" alt="">
        </div>
        <div class="gmail-label" >
            <a href="mailto:sangitajadhav2792@gmail.com" target="_blank" rel="noopener noreferrer">sangitajadhav2792@gmail.com</a>
        </div>
    </div>
    <div  class="email-box">
        <div>
            <img class="gmail-icon" src="../../../assets/images/linkedin.png" alt="">
        </div>
        <div class="gmail-label">
            <a href="https://www.linkedin.com/in/sangita-jadhav-02a676137/" target="_blank" rel="noopener noreferrer">linkedin.com/in/sangita-jadhav</a>
        </div>
    </div>
<!-- </mat-card> -->
</div>