<!-- <div class="about-container">
    <div class="about-child">
        <div class="header">
            <header>{{portfolioInfo.aboutHeader}}</header>
        </div>
        <div class="about">
            <p>{{portfolioInfo.aboutDescription1}}</p>        
            <p>{{portfolioInfo.aboutDescription2}}</p>
            <p>{{portfolioInfo.aboutDescription3}}</p>
        </div>
        <div class="resume-details">
            <p class="m-0"><a href="../../../assets/pdf/CV_Sangita_Jadhav_Final.DOCX (1).pdf" target="_blank" rel="noopener noreferrer">{{portfolioInfo.resume}} </a> {{portfolioInfo.detailsText}}</p>
        </div>
    </div>
    <div class="about-child">
        <div class="cloud-container" #tagcloud></div>
    </div>
</div> -->

<div  class="about-container">
    <div class="about-child">
        <div class="header">
            <header>{{portfolioInfo.aboutHeader}}</header>
        </div>
        <div class="about">
            <p>{{portfolioInfo.aboutDescription1}}</p>        
            <p>{{portfolioInfo.aboutDescription2}}</p>
            <p>{{portfolioInfo.aboutDescription3}}</p>
        </div>
        <div class="resume-details">
            <p><a href="../../../assets/pdf/CV_Sangita_Jadhav_Final.DOCX (1).pdf" target="_blank" rel="noopener noreferrer">{{portfolioInfo.resume}} </a> {{portfolioInfo.detailsText}}</p>
        </div>
    </div>
    <div class="about-child">
        <div class="cloud-container" #tagcloud></div>
    </div>
</div>