<!-- <div class="home-container">
    <div class="child-container">
        <p>{{portfolioInfo.greetings}}{{portfolioInfo.comma}}</p>
        <p>{{portfolioInfo.firstName}}{{portfolioInfo.comma}}</p>
        <p>{{portfolioInfo.role}}</p>
        <p class="info">{{portfolioInfo.speciality}}</p>
        <p class="info">{{portfolioInfo.birhdate}}{{portfolioInfo.fullstop}}</p>
        <p class="info">{{portfolioInfo.address}}{{portfolioInfo.fullstop}}</p>
    </div>
    <div class="img-container">
        <img src="../../../assets/images/dev4.png" alt="">
    </div>
</div> -->

<div class="home-container">
    <div class="child-container">
        <p>{{portfolioInfo.greetings}}{{portfolioInfo.comma}}</p>
        <p>{{portfolioInfo.firstName}}{{portfolioInfo.comma}}</p>
        <p>{{portfolioInfo.role}}</p>
        <p class="info">{{portfolioInfo.speciality}}</p>
        <p class="info">{{portfolioInfo.birhdate}}{{portfolioInfo.fullstop}}</p>
        <p class="info">{{portfolioInfo.address}}{{portfolioInfo.fullstop}}</p>
    </div>
    <div class="img-container">
        <img src="../../../assets/images/dev4.png" alt="">
    </div>
</div>