<!-- <mat-drawer-container class="container example-container" [class.drawer-opened]="drawer.opened">
    <mat-drawer #drawer mode="side" class="drawer" opened="true">
        <mat-toolbar class="header">
            <mat-icon class="close" (click)="drawer.close()">close</mat-icon>
        </mat-toolbar>
        <div class="img">
            <app-sidebar></app-sidebar>
        </div>
        <div class="border"></div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar class="main header">
            <mat-icon *ngIf="!drawer.opened" (click)="drawer.toggle()">
                menu
            </mat-icon>
            <div class="navbar">
                <div>
                    <h2>{{selectedItem | async | titlecase }}</h2>
                </div>
            </div>
        </mat-toolbar>
        <div class="contents">
            <app-page-content>
            </app-page-content>
        </div>
    </mat-drawer-content>
</mat-drawer-container> -->

<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <h2>{{selectedItem | async | titlecase }}</h2>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <app-profile></app-profile>
        <app-self-intro></app-self-intro>
        <mat-divider></mat-divider>
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>