<!-- <div class="education-container">
    <div *ngFor="let item of education">
        <app-common-card [size]="'medium'">
            <div class="card-header" card-header>
                <div class="school-icon">
                    <mat-icon>school</mat-icon>
                </div>
                <div class="title">
                    <mat-card-title>{{item.stream}}</mat-card-title>
                    <mat-card-subtitle>{{item.universityName}}</mat-card-subtitle>
                </div>
               
            </div>
            <div card-content>
                <div class="card-content">
                    <ul>
                        <li>{{item.collageName}}</li>
                        <li>{{item.description}}</li>
                    </ul>
                  </div>
            </div>
            <div card-footer>
                <div class="footer">
                    <mat-icon>calendar_today</mat-icon>
                    <p class="year">{{item.passingYear}}</p>
                </div>
            </div>
        </app-common-card>
    </div>
</div> -->

<div class="education-container">
    <div *ngFor="let item of education">
        <app-common-card [size]="'medium'">
            <div class="card-header" card-header>
                <div class="school-icon">
                    <mat-icon>school</mat-icon>
                </div>
                <div class="title">
                    <mat-card-title>{{item.stream}}</mat-card-title>
                    <mat-card-subtitle>{{item.universityName}}</mat-card-subtitle>
                </div>
               
            </div>
            <div card-content>
                <div class="card-content">
                    <ul>
                        <li>{{item.collageName}}</li>
                        <li>{{item.description}}</li>
                    </ul>
                  </div>
            </div>
            <div card-footer>
                <div class="footer">
                    <mat-icon>calendar_today</mat-icon>
                    <p class="year">{{item.passingYear}}</p>
                </div>
            </div>
        </app-common-card>
    </div>
</div>