<!-- <div class="reference-container">
  <div id="action-description">
  </div>
  <div class="control-section api-carousel-section">
    <div class="col-lg-9 content-wrapper">
      <div class="carousel-sample">
        <ejs-carousel cssClass="api-carousel">
          <e-carousel-items>
            <e-carousel-item *ngFor="let item of references">
              <ng-template #template>
                <figure class="img-container">
                  <img src="{{item.img}}" alt="bridge" class="img"
                    style="width:90%;" />
                </figure>
              </ng-template>
            </e-carousel-item>
          </e-carousel-items>
        </ejs-carousel>
      </div>
    </div>
  </div>
</div> -->

<div class="reference-container">
  <div id="action-description">
  </div>
  <div class="control-section api-carousel-section">
    <div class="col-lg-9 content-wrapper">
      <div class="carousel-sample">
        <ejs-carousel cssClass="api-carousel">
          <e-carousel-items>
            <e-carousel-item *ngFor="let item of references">
              <ng-template #template>
                <figure class="img-container">
                  <img src="{{item.img}}" alt="bridge" class="img" style="width:90%;" />
                </figure>
              </ng-template>
            </e-carousel-item>
          </e-carousel-items>
        </ejs-carousel>
      </div>
    </div>
  </div>
</div>