.main-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container{
    display: flex;
    margin: 0.5rem;
}
.self-intro-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 500;
}
.links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    width: 285px;
    margin-top: 3px;
}
.list-item{
    display: flex;
}
.mat-list-base{
   width: 330px;
}
.active {
    color: #3f0e92;
    font-weight: bold!important;
    background-color: white;
    border-left: 5px solid #673AB7;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // font-size: 1rem;
  
    mat-icon {
        margin-right: 8px;
    }
  }

  .mat-button {
    line-height: 34px;
}