<!-- <div class="skills-container">
    <div class="skills-child">
        <div class="header">
            <header>{{portfolioInfo.skillsPageHeader}}</header>
        </div>
        <div class="about">
            <p>{{portfolioInfo.skillsDescription1}}</p>        
            <p>{{portfolioInfo.skillsDescription2}}</p>
            <p>Visit my <a href="https://www.linkedin.com/in/sangita-jadhav-02a676137/" target="_blank" rel="noopener noreferrer">LinkedIn</a> profile for more details.</p>
        </div>
    </div>
    <div class="skills-child">
        <div class="bar">
          <section class="example-section">
                <label class="bold"> Angular </label>
                <mat-progress-bar [appProgressBarColor]="color"
                    class="example-margin"
                    [mode]="mode"
                    [value]="90"
                    [bufferValue]="bufferValue">
                </mat-progress-bar>
          </section>
          <section class="example-section">
            <label class="bold"> HTML </label>
            <mat-progress-bar [appProgressBarColor]="'green'"
                class="example-margin"
                [mode]="mode"
                [value]="80"
                [bufferValue]="bufferValue">
            </mat-progress-bar>
          </section>
          <section class="example-section">
            <label class="bold"> CSS/SCSS </label>
            <mat-progress-bar [appProgressBarColor]="'orange'"
                class="example-margin"
                [mode]="mode"
                [value]="80"
                [bufferValue]="bufferValue">
            </mat-progress-bar>
          </section>
        </div>
    </div>
</div> -->

<div class="skills-container">
    <div class="skills-child">
        <div class="header">
            <header>{{portfolioInfo.skillsPageHeader}}</header>
        </div>
        <div class="about">
            <p>{{portfolioInfo.skillsDescription1}}</p>        
            <p>{{portfolioInfo.skillsDescription2}}</p>
            <p>Visit my <a href="https://www.linkedin.com/in/sangita-jadhav-02a676137/" target="_blank" rel="noopener noreferrer">LinkedIn</a> profile for more details.</p>
        </div>
    </div>
    <div class="skills-child">
        <div class="bar">
          <section class="example-section">
                <label class="bold"> Angular </label>
                <mat-progress-bar [appProgressBarColor]="color"
                    class="example-margin"
                    [mode]="mode"
                    [value]="90"
                    [bufferValue]="bufferValue">
                </mat-progress-bar>
          </section>
          <section class="example-section">
            <label class="bold"> HTML </label>
            <mat-progress-bar [appProgressBarColor]="'green'"
                class="example-margin"
                [mode]="mode"
                [value]="80"
                [bufferValue]="bufferValue">
            </mat-progress-bar>
          </section>
          <section class="example-section">
            <label class="bold"> CSS/SCSS </label>
            <mat-progress-bar [appProgressBarColor]="'orange'"
                class="example-margin"
                [mode]="mode"
                [value]="80"
                [bufferValue]="bufferValue">
            </mat-progress-bar>
          </section>
        </div>
    </div>
</div>
