
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Patua+One&family=Roboto:wght@500&display=swap');
header {
    font-family: 'Patua One', cursive;
    font-weight: 400;
    font-size: 2.5rem;
    gap: 0.5rem;
    overflow-wrap: break-word;
    word-break: break-all;
    color: #673AB7;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    gap: 1.5rem;
    color: gray;
    text-align: justify;

}

label{
    color: #673AB7;
}
// .skills-container{
//     display: flex;
//     height: 100vh;
//     margin-top: 91px;
// }

.skills-container{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    height: calc(100vh - 118px);
}

.skills-child{
    width: 50%;
    margin-left: 18px;
}
.header{
    display: flex;
    margin-top: 10%;
}

.about{
    margin-top: 39px;
}

a{
    line-height: inherit;
    font-size: inherit;
    --tw-text-opacity: 1;
    color: rgba(236,72,153,var(--tw-text-opacity));
    text-decoration: inherit;
}

.progress{
    display: flex;
    margin-top: 10%;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: flex-start;
    height: 60px;
    flex-direction: column;
    line-height: 45px;
    width: 90%;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  
  .bold{
      font-family: 'Patua One', cursive;
      font-weight: 400;
      font-size: 1.5rem;
      margin-left: 10px;
    }

    .bar{
        margin-top: 80px;
    }